<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Corsys </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/css.css}" href="../static/css/css.css" />
    <script type="text/javascript" src="../static/js/functions.js" th:src="@{/js/functions.js}"></script>
</head>
<body>

<div class="form">
    <form class="login-form" action="/perform_login" method="post">
        <div>
            <img class="login-img" th:src="@{/img/icon.png}"/>
        </div>
        <label for="username">Uživateľské meno123: </label> <input id="username" type="text" name="username"><br>
        <label for="password">Heslo: </label> <input id="password" type="password" name="password"><br>
        <button type="submit">Prihlásiť</button>
        <p class="message"><span th:text="${wrongPass}"></span></p>
    </form>
</div>
</body>
</html>




