<div class="left-sidebar-pro" th:fragment="left-sidebar">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a th:href="@{/receptionist}"><img class="main-logo" th:src="@{/img/icon.png}" src="img/icon.png" alt="" /></a>
            <strong><a th:href="@{/receptionist}"><img src="img/iconsn.png" th:src="@{/img/iconsn.png}" alt="" style="margin-left:-5rem;" /></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li class="active">
                        <a class="has-arrow" th:href="@{/receptionist}">
                            <span class="icon-wrap"><i class="fa fa-book" aria-hidden="true"></i></span>
                            <span class="mini-click-non">Rezervácie</span>
                        </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li><a title="Dashboard v.1" th:href="@{/receptionist/createReservationDep}"><span class="mini-sub-pro">Vytvoriť rezerváciu</span></a></li>
                            <li><a title="Dashboard v.2" href="#"><span class="mini-sub-pro">Zoznam rezervácii</span></a></li>
                            <li><a title="Dashboard v.3" href="#"><span class="mini-sub-pro">Menu item3</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a title="Landing Page" href="#" aria-expanded="false"><span class="icon-wrap" aria-hidden="true"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span> <span class="mini-click-non">Kalendár</span></a>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-professors.html" aria-expanded="false"><span class="icon-wrap"><i class="fa fa-user-md" aria-hidden="true"></i></span> <span class="mini-click-non">Lekári</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Professors" href="#"><span class="mini-sub-pro">All Professors</span></a></li>
                            <li><a title="Add Professor" href="#"><span class="mini-sub-pro">Add Professor</span></a></li>
                            <li><a title="Edit Professor" href="#"><span class="mini-sub-pro">Edit Professor</span></a></li>
                            <li><a title="Professor Profile" href="#"><span class="mini-sub-pro">Professor Profile</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-students.html" aria-expanded="false"><span class="icon-wrap"><i class="fa fa-users" aria-hidden="true"></i></span> <span class="mini-click-non">Pacienti</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Students" href="#"><span class="mini-sub-pro">Zoznam pacientov</span></a></li>
                            <li><a title="Add Students" href="#"><span class="mini-sub-pro">Pridať pacienta</span></a></li>
                            <li><a title="Edit Students" href="#"><span class="mini-sub-pro">Editovať pacienta</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-courses.html" aria-expanded="false"><span class="educate-icon educate-library icon-wrap"></span> <span class="mini-click-non">Library</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Library" href="#"><span class="mini-sub-pro">Library Assets</span></a></li>
                            <li><a title="Add Library" href="#"><span class="mini-sub-pro">Add Library Asset</span></a></li>
                            <li><a title="Edit Library" href="#"><span class="mini-sub-pro">Edit Library Asset</span></a></li>
                        </ul>
                    </li>
                    <li id="removable">
                        <a class="has-arrow" href="#" aria-expanded="false"><span class="educate-icon educate-pages icon-wrap"></span> <span class="mini-click-non">Pages</span></a>
                        <ul class="submenu-angle page-mini-nb-dp" aria-expanded="false">
                            <li><a title="Login" href="login.html"><span class="mini-sub-pro">Login</span></a></li>
                            <li><a title="Register" href="register.html"><span class="mini-sub-pro">Register</span></a></li>
                            <li><a title="Lock" href="lock.html"><span class="mini-sub-pro">Lock</span></a></li>
                            <li><a title="Password Recovery" href="password-recovery.html"><span class="mini-sub-pro">Password Recovery</span></a></li>
                            <li><a title="404 Page" href="404.html"><span class="mini-sub-pro">404 Page</span></a></li>
                            <li><a title="500 Page" href="500.html"><span class="mini-sub-pro">500 Page</span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</div>
</html>