<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="en">

<head th:replace="receptionist/fragments/fragment :: head">
</head>

<body>
<!-- left navbar -->
<div th:replace="receptionist/fragments/fragment-navbar :: left-sidebar"></div>

<!-- Start Welcome area -->
<div class="all-content-wrapper">
   <!-- header area -->
   <div th:insert="receptionist/fragments/fragment-header :: header"></div>

   <div th:insert="receptionist/fragments/fragment-footer :: footer"></div>
</div>

<!-- JS scripts -->
<div th:insert="receptionist/fragments/fragment :: jsImport"></div>
</body>
</html>