<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="en">

<head th:replace="receptionist/fragments/fragment :: head">
</head>

<body>
<!-- left navbar -->
<div th:replace="receptionist/fragments/fragment-navbar :: left-sidebar"></div>

    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
         <!-- header area -->
           <div th:insert="receptionist/fragments/fragment-header :: header"></div>

        <!-- Single pro tab review Start-->
        <div class="single-pro-review-area mt-t-30 mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:6rem;">
                        <div class="product-payment-inner-st">
                            <ul id="myTabedu1" class="tab-review-design">
                                <li class="active"><a href="#">Vytvoriť rezerváciu</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content custom-product-edit">

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                <div id="dropzone1" class="pro-ad">
                                                    <form method="post" class="dropzone dropzone-custom needsclick add-professors" id="demo1-upload">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="form-group">
                                                                    <select name="examinationId" class="form-control" th:object="${command}">
                                                                        <option value="0" selected="" disabled="">Vyberte typ vyšetrenia</option>
                                                                        <option th:each="ex : ${examinations}" th:value="${ex.examinationId}" th:text="${ex.type}"></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                     <button type="submit" class="btn btn-primary waves-effect waves-light">Ďalej</button>
                                                    </form>
                                                </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="receptionist/fragments/fragment-footer :: footer"></div>
    </div>
<!-- JS scripts -->
<div th:insert="receptionist/fragments/fragment :: jsImport"></div>
</body>
</html>