<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="en">

<head th:replace="receptionist/fragments/fragment :: head">
</head>

<body>
<!-- left navbar -->
<div th:replace="receptionist/fragments/fragment-navbar :: left-sidebar"></div>

<!-- Start Welcome area -->
<div class="all-content-wrapper">
   <!-- header area -->
   <div th:insert="receptionist/fragments/fragment-header :: header"></div>

   <div class="single-pro-review-area mt-t-30 mg-b-15">
               <div class="container-fluid">
                   <div class="row">
                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:6rem;">
                       <div th:if="${resSuccess}" class="alert alert-success">
                               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                                </button>
                                <strong>Rezervácia </strong> bola úspešne vytvorená.
                        </div>
                           <div th:if="${patSuccess}" class="alert alert-success">
                               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                   <span aria-hidden="true">×</span>
                               </button>
                               <strong>Účet pacienta </strong> bol úspešne vytvorený.
                           </div>
                           <div th:if="${patSuccess!=null && !patSuccess}" class="alert alert-danger alert-mg-b">
                           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                               <span aria-hidden="true">×</span>
                           </button>
                           <strong>Chyba </strong> pri vytváraní účtu. Skúste to znovu prosím.
                       </div>

                        <div th:if="${resSuccess!=null && !resSuccess}" class="alert alert-danger alert-mg-b">
                               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                                </button>
                                <strong>Chyba </strong> pri vytváraní rezervácie. Skúste to znovu prosím.
                        </div>
                            <div class="product-payment-inner-st" style="height: 28rem;">
                            </div>
                       </div>

                   </div>
               </div>
           </div>
    <!-- footer -->
    <div th:insert="receptionist/fragments/fragment-footer :: footer"></div>
</div>

<!-- JS scripts -->
<div th:insert="receptionist/fragments/fragment :: jsImport"></div>
</body>
</html>
<!--  <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">×</span>
         </button>
         <strong>Rezervácia </strong> bola úspešne vytvorená.
       </div>
-->